# ReelForge - Environment Variables
# Google Gemini API key (Free at https://aistudio.google.com/apikey)
GEMINI_API_KEY=

# Pixabay API key (Free at https://pixabay.com/api/docs/)
PIXABAY_API_KEY=


#kya laga me api key leak kardunga 😂
#use your own lil man !!